/* theme */
.part-1 {
    background-color: $part-1-color;
    padding: 100px 0 50px;
    @include all-phone {
        padding: 50px 0;
    }
    .first-content {
        text-align: center;
        h1 {
            color: $white-color;
            font-size: 80px;
            font-family: $avenir;
            font-weight: 700;
            @include tablet {
                font-size: 50px;
            }
            @include all-phone {
                font-size: 40px;
            }
            span {
                font-weight: 400;
            }
        }
    }

    .second-content {
        margin: 100px 120px 0;
        @include screen-1200 {
            margin: 100px 50px 0;
        }
        @include desktop {
            margin: 100px 50px 0;
        }
        @include tablet {
            margin: 50px 20px 0;
        }
        @include all-phone {
            margin: 40px 20px 0;
        }
        @include screen-360 {
            margin: 40px 0 0;
        }
        h5 {
            color: $white-color;
            font-size: 40px;
            font-family: $avenir;
            font-weight: 700;
            margin-bottom: 30px;
            @include tablet {
                font-size: 30px;
            }
            @include all-phone {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
        ul {
            @include tablet {
                margin-bottom: 40px;
            }
            @include all-phone {
                margin-bottom: 40px;
            }
            li {
                color: $white-color;
                font-size: 40px;
                font-family: $avenir;
                position: relative;
                padding-left: 30px;
                margin-bottom: 20px;
                @include tablet {
                    font-size: 30px;
                }
                @include all-phone {
                    font-size: 24px;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 25px;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    background-color: $white-color;
                    border-radius: 50%;
                }
            }
        }
        p {
            color: $white-color;
            font-size: 40px;
            font-family: $avenir;
            @include tablet {
                font-size: 30px;
            }
            @include all-phone {
                font-size: 24px;
            }
        }
    }

    .third-content {
        margin: 40px 0;
        .main-content {
            padding: 60px 0;
            position: relative;
            width: 60%;
            margin: auto;
            @include screen-1400 {
                width: 80%;
            }
            @include screen-1200 {
                width: 100%;
            }
            @include desktop {
                width: 100%;
            }
            @include tablet {
                width: 100%;
                padding: 30px 0;
            }
            @include all-phone {
                width: 100%;
                padding: 30px 0;
            }
            @include screen-360 {
                padding: 0;
            }
            h2 {
                color: $white-color;
                font-size: 90px;
                font-family: $avenir;
                font-weight: 700;
                text-shadow: 1px 1px #606598, 2px 2px #606598, 3px 3px #606598, 4px 4px #606598, 5px 5px #606598, 6px 6px #606598, 7px 7px 5px rgba(96, 101, 152, .5);
                text-align: right;
                @include screen-1200 {
                    text-align: left;
                }
                @include desktop {
                    text-align: left;
                    font-size: 70px;
                }
                @include tablet {
                    text-align: left;
                    font-size: 50px;
                }
                @include all-phone {
                    text-align: left;
                    font-size: 40px;
                }
            }
            .shape-image {
                position: absolute;
                top: 0;
                right: -150px;
                width: auto;
                height: auto;
                @include screen-1200 {
                    right: 0;
                }
                @include desktop {
                    right: 0;
                    height: 90%;
                }
                @include tablet {
                    right: 0;
                    height: 90%;
                }
                @include all-phone {
                    right: 0;
                    height: 90%;
                }
                @include portrait-phone {
                    display: none;
                }
            }
        }        
    }

    .fourth-area {
        background-color: $white-color;
        padding: 0 40px 40px;
        margin-top: 100px;
        @include tablet {
            margin-top: 70px;
        }
        @include all-phone{
            margin-top: 50px;
        }
        @include portrait-phone {
            padding: 0 20px 20px;
        }

        .brand-part {
            .single-brand {
                margin-bottom: 30px;
                img {
                    width: 270px;
                    margin: auto;
                    @include screen-1200 {
                        width: 220px;
                    }
                    @include desktop {
                        width: 160px;
                    }
                    @include all-phone {
                        width: 150px;
                    }
                    &.img-1 {
                        width: 230px;
                        @include screen-1200 {
                            width: 200px;
                        }
                        @include desktop {
                            width: 160px;
                        }
                        @include all-phone {
                            width: 150px;
                        }
                    }
                }
            }
        }

        .style-box {
            background-image: url('../images/fourth-area-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @include tablet {
                background-image: none;
            }
            @include all-phone {
                background-image: none;
            }
            
            .product-area {
                .title-top {
                    padding: 100px 0;
                    position: relative;
                    width: 65%;
                    margin: 40px auto 0; 
                    @include screen-1400 {
                        width: 60%;
                    }
                    @include screen-1200 {
                        width: 70%;
                    }
                    @include desktop {
                        width: 70%;
                    }
                    @include tablet {
                        width: 90%;
                        padding: 50px 0;
                        margin: 0 auto 0;
                    }
                    @include all-phone {
                        width: 90%;
                        padding: 50px 0;
                        margin: 0 auto 0;
                    }

                    h2 {
                        color: $white-color;
                        font-size: 150px;
                        font-family: $avenir;
                        font-weight: 700;
                        text-shadow: 1px 1px #ac76a9, 2px 2px #ac76a9, 3px 3px #ac76a9, 4px 4px #ac76a9, 5px 5px #ac76a9, 6px 6px #606598, 7px 7px 5px rgba(172, 118, 169, .5);
                        text-align: right;
                        text-transform: uppercase;
                        line-height: .8em;
                        @include screen-1400 {
                            font-size: 100px;
                        }
                        @include screen-1200 {
                            font-size: 100px;
                        }
                        @include desktop {
                            font-size: 80px;
                        }
                        @include tablet {
                            font-size: 60px;
                            text-align: left;
                            color: #742b8f;
                        }
                        @include all-phone {
                            font-size: 50px;
                            text-align: left;
                            color: #742b8f;
                        }
                        @include portrait-phone {
                            line-height: 48px;
                        }
                        span {
                            font-size: 120px;
                            @include screen-1400 {
                                font-size: 70px;
                            }
                            @include screen-1200 {
                                font-size: 70px;
                            }
                            @include desktop {
                                font-size: 60px;
                            }
                            @include tablet {
                                font-size: 40px;
                            }
                            @include all-phone {
                                font-size: 40px;
                            }
                        }
                    }
                    h4 {
                        color: $white-color;
                        font-size: 50px;
                        font-family: $avenir;
                        font-weight: 400;
                        text-align: right;
                        margin-right: 250px;
                        @include screen-1400 {
                            font-size: 40px;
                            margin-right: 150px;
                        }
                        @include screen-1200 {
                            font-size: 40px;
                            margin-right: 150px;
                        }
                        @include desktop {
                            font-size: 30px;
                            margin-right: 150px;
                        }
                        @include tablet {
                            font-size: 20px;
                            margin-right: 0;
                            text-align: left;
                        }
                        @include all-phone {
                            font-size: 20px;
                            margin-right: 0;
                            text-align: left;
                        }
                    }
                    .shape-image {
                        position: absolute;
                        top: 0;
                        right: -150px;
                        width: auto;
                        height: 90%;
                        @include desktop {
                            right: -120px;
                        }
                        @include tablet {
                            right: 0px;
                            height: 70%;
                            top: 20px;
                        }
                        @include all-phone {
                            right: -20px;
                            height: 70%;
                            top: 20px;
                        }
                        @include portrait-phone {
                            display: none;
                        }
                    }
                }
                .product-images {
                    img {
                        width: 65%;
                        margin: auto;
                        @include tablet {
                            width: 80%;
                        }
                        @include all-phone {
                            width: 90%;
                        }
                    }
                } 
            }

            .promotion-part {
                .title-top {
                    width: 80%;
                    margin: 0 auto 50px;
                    @include screen-1200 {
                        width: 100%;
                    }
                    @include desktop {
                        width: 100%;
                    }
                    @include tablet {
                        width: 100%;
                    }
                    @include all-phone {
                        width: 100%;
                    }
                    h3 {
                        font-size: 60px;
                        font-family: $avenir;
                        font-weight: 600;
                        color: #742b8f;
                        text-transform: uppercase;
                        @include screen-1400 {
                            font-size: 40px;
                        }
                        @include screen-1200 {
                            font-size: 40px;
                        }
                        @include desktop {
                            font-size: 40px;
                        }
                        @include tablet {
                            font-size: 30px;
                            margin-top: 20px;
                        }
                        @include all-phone {
                            font-size: 30px;
                            margin-top: 20px;
                        }
                    }
                }

                .promotion-box {
                    width: 70%;
                    margin: auto;
                    @include screen-1400 {
                        width: 90%;
                    }
                    @include screen-1200 {
                        width: 90%;
                    }
                    @include desktop {
                        width: 90%;
                    }
                    @include tablet {
                        width: 90%;
                    }
                    @include all-phone {
                        width: 90%;
                    }
                    .single-promotion {
                        text-align: center;
                        background-image: url('../images/shape-3.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100% 100%;
                        padding: 20px 10px 60px;
                        margin-bottom: 40px;
                        h6 {
                            color: #742b8f;
                            font-size: 35px;
                            font-family: $avenir;
                            font-weight: 600;
                            @include screen-1200 {
                                font-size: 24px;
                            }
                            @include desktop {
                                font-size: 24px;
                            }
                            @include tablet {
                                font-size: 24px;
                            }
                            @include all-phone {
                                font-size: 24px;
                            }
                            span {
                                font-weight: 400;
                            }
                        }
                        h2 {
                            color: #742b8f;
                            font-size: 200px;
                            font-family: $avenir;
                            font-weight: 700;
                            letter-spacing: -30px;
                            line-height: 180px;
                            @include screen-1200 {
                                font-size: 150px;
                            }
                            @include desktop {
                                font-size: 120px;
                            }
                            @include tablet {
                                font-size: 120px;
                            }
                            @include all-phone {
                                font-size: 120px;
                                line-height: 150px;
                            }
                            span.number-style {
                                position: relative;
                                top: 20px;
                            }
                            span.percentage {
                                font-size: 60px;
                                font-weight: 500;
                                display: inline-block;
                                margin-left: 30px;
                                position: relative;
                                top: -40px;
                                @include tablet {
                                    top: -10px;
                                }
                                @include all-phone {
                                    top: -10px;
                                }
                            }
                        }
                        h5 {
                            color: #742b8f;
                            font-size: 50px;
                            font-family: $avenir;
                            font-weight: 500;
                            position: relative;
                            top: -40px;
                            @include screen-1200 {
                                font-size: 40px;
                            }
                            @include desktop {
                                font-size: 35px;
                            }
                            @include tablet {
                                font-size: 30px;
                            }
                            @include all-phone {
                                font-size: 24px;
                                top: -10px;
                            }
                        }
                    }
                }
            }

            .refund-part {
                .title-top {
                    width: 70%;
                    margin: auto;
                    @include screen-1200 {
                        width: 100%;
                    }
                    @include desktop {
                        width: 100%;
                    }
                    @include tablet {
                        width: 100%;
                    }
                    @include all-phone {
                        width: 100%;
                    }
                    h3 {
                        font-size: 60px;
                        font-family: $avenir;
                        font-weight: 600;
                        color: #742b8f;
                        text-transform: uppercase;
                        @include screen-1400 {
                            font-size: 40px;
                        }
                        @include screen-1200 {
                            font-size: 40px;
                        }
                        @include desktop {
                            font-size: 40px;
                        }
                        @include tablet {
                            font-size: 30px;
                            margin-top: 20px;
                        }
                        @include all-phone {
                            font-size: 30px;
                            margin-top: 20px;
                        }
                        @include portrait-phone {
                            margin-bottom: 40px;
                        }
                    }
                }

                .refund-box {
                    width: 70%;
                    margin: 10px auto 0;
                    @include screen-1400 {
                        width: 90%;
                    }
                    @include screen-1200 {
                        width: 90%;
                    }
                    @include desktop {
                        width: 90%;
                    }
                    @include tablet {
                        width: 90%;
                    }
                    @include all-phone {
                        width: 90%;
                    }
                    .single-refund {
                        text-align: center;
                        margin-bottom: 40px;
                        .img-box {
                            height: 180px;
                            display: flex;
                            align-self: center;
                            @include landscape-phone {
                                height: 140px;
                            }
                            @include portrait-phone {
                                height: auto;
                            }
                            .icon-image {
                                margin: auto;
                                &.img-1 {
                                    width: 140px;
                                    @include landscape-phone {
                                        width: 100px;
                                    }
                                }
                                &.img-2 {
                                    width: 200px;
                                    @include landscape-phone {
                                        width: 160px;
                                    }
                                }
                                &.img-3 {
                                    width: 90px;
                                    @include landscape-phone {
                                        width: 50px;
                                    }
                                }
                                &.img-4 {
                                    width: 160px;
                                    @include landscape-phone {
                                        width: 120px;
                                    }
                                }
                            }
                        }
                        p {
                            font-size: 18px;
                            font-family: $avenir;
                            font-weight: 400;
                            color: #742b8f;
                            @include landscape-phone {
                                font-size: 16px;
                            }
                            @include portrait-phone {
                                margin-top: 20px;
                            }
                        }
                    }
                    
                }            
            }

            .disclaimer-part {
                width: 95%;
                margin: auto;
                p {
                    color: #8e8f91;
                    font-size: 24px;
                    font-family: $avenir;
                    font-weight: 400;
                    @include screen-1400 {
                        font-size: 18px;
                    }
                    @include screen-1200 {
                        font-size: 16px;
                    }
                    @include desktop {
                        font-size: 13px;
                    }
                    @include tablet {
                        font-size: 18px;
                    }
                    @include all-phone {
                        font-size: 18px;
                    }
                }
                .qr-code {
                    @include tablet {
                        width: 200px;
                        margin-top: 30px;
                    }
                    @include all-phone {
                        width: 200px;
                        margin-top: 30px;
                    }
                }
            }

            .footer-part {
                padding: 20px 0;
                text-align: center;
                h5 {
                    color: #742b8f;
                    font-size: 24px;
                    font-family: $avenir;
                    font-weight: 700;
                    @include portrait-phone {
                        font-size: 20px;
                    }
                    span {
                        font-weight: 400;
                    }
                }
            }
        }
    }
} // part-1 end

.part-2 {
    background-color: $part-2-color;
    padding: 0 0 50px;
    .logo-part {
        img {
            width: auto;
            margin: auto;
        }
    }

    .content-title {
        h3 {
            color: $white-color;
            font-size: 42px;
            font-weight: 600;
            font-family: $colgate;
            padding: 15px 40px;
            border: 2px solid $white-color;
            border-radius: 15px;
            text-align: center;
            @include tablet {
                font-size: 30px;
            }
            @include all-phone {
                font-size: 30px;
            }
        }
    }

    .chart-box {
        background-color: $white-color;
        border-radius: 15px;
        width: 95%;
        margin: 30px auto 0;

        .right-content {
            @include tablet {
                padding: 20px
            }
            @include all-phone {
                padding: 20px
            }
            h3 {
                color: $black-color-part-2;
                font-size: 42px;
                font-weight: 600;
                font-family: $colgate;
                margin-bottom: 30px;
                @include tablet {
                    font-size: 30px;
                    margin-top: 30px;
                }
                @include all-phone {
                    font-size: 30px;
                    margin-top: 30px;
                }
            }
            .brand-image {
                img {
                    width: 90%;
                }
            }
        }
    }

    .italic-text {
        text-align: right;
        span {
            display: inline-block;
            padding: 20px 0;
            color: $white-color;
            font-size: 22px;
            font-weight: 300;
            font-family: $colgate;
            @include portrait-phone {
                font-size: 14px;
            }
        }
    }

    .group-images {
        .group-image-1 {
            width: 80%;
            margin: auto;
            @include all-phone {
                width: 60%;
                margin: 0 auto 30px;
            }
        }
    }

    .news-area {
        background-color: $white-color;
        border-radius: 20px;
        border: 2px solid $white-color;
        position: relative;
        z-index: 1;
        @include screen-1400 {
            padding-top: 70px;
        }
        @include screen-1200 {
            padding-top: 70px;
        }
        @include desktop {
            padding-top: 70px;
        }
        @include tablet {
            padding-top: 50px;
        }
        @include all-phone {
            padding-top: 40px;
        }

        .text-style {
            position: absolute;
            top: 0;
            left: 0;
            color: $white-color;
            font-size: 36px;
            font-weight: 700;
            font-family: $colgate;
            display: inline-block;
            padding: 5px 30px 5px 20px;
            border-radius: 20px 0 50px 0;
            background-image: linear-gradient(#bcbebc, #6c7873);
            z-index: -1;
            @include tablet {
                font-size: 24px;
            }
            @include all-phone {
                font-size: 20px;
            }
        }

        .title-top {
            text-align: center;
            h2 {
                color: $part-2-color;
                font-size: 48px;
                font-weight: 700;
                font-family: $colgate;
                margin-bottom: 20px;
                @include tablet {
                    font-size: 30px;
                }
                @include all-phone {
                    font-size: 30px;
                }
                span {
                    font-weight: 300;
                }
            }
        }

        .left-part {
            padding: 20px;
            h3 {
                color: $black-color-part-2;
                font-size: 40px;
                font-weight: 600;
                font-family: $colgate;
                margin: 0 0 70px;
                @include tablet {
                    font-size: 30px;
                }
                @include all-phone {
                    font-size: 30px;
                }
            }
            h4 {
                color: $black-color-part-2;
                font-size: 30px;
                font-weight: 600;
                font-family: $colgate;
                margin: 50px 0;
            }

            .single-news {
                margin-bottom: 30px;
                border-radius: 10px;
                h5 {
                    background-color: #44484c;
                    color: $white-color;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: $colgate;
                    text-align: center;
                    padding: 10px 10px 20px;
                    border-radius: 10px 10px 0 0;
                    text-transform: uppercase;
                    @include desktop {
                        font-size: 15px;
                    }
                }
                img {
                    margin-top: -10px;
                    margin-bottom: 10px;
                }
                p {
                    color: $black-color-part-2;
                    font-size: 18px;
                    font-weight: 600;
                    font-family: $colgate;
                    text-align: center;
                    @include desktop {
                        font-size: 15px;
                    }
                }
            }
            .plus-icon {
                width: auto;
                margin: auto;
                position: relative;
                top: 100px;
                @include all-phone {
                    display: none;
                }
            }
        }

        .right-part {
            background-color: #dfdede;
            padding: 30px;
            height: 100%;
            border-radius: 0 0 20px 0;
            position: relative;
            @include tablet {
                border-radius: 0 0 20px 20px;
            }
            @include all-phone {
                border-radius: 0 0 20px 20px;
            }
            h4 {
                color: $black-color-part-2;
                font-size: 24px;
                font-weight: 600;
                font-family: $colgate;
            }

            .add-box {
                background-color: #c9c8ca;
                padding: 40px;
                border-radius: 10px;
                margin-bottom: 40px;
                @include desktop {
                    padding: 20px 20px 40px;
                };
                span {
                    color: $black-color-part-2;
                    font-size: 30px;
                    font-weight: 400;
                    font-family: $colgate;
                    display: inline-block;
                    @include screen-1200 {
                        font-size: 20px;
                    }
                    @include desktop {
                        font-size: 20px;
                    }
                    @include tablet {
                        font-size: 20px;
                    }
                    @include all-phone {
                        font-size: 20px;
                    }
                    &.big {
                        font-size: 60px;
                        font-weight: 700;
                        @include screen-1400 {
                            font-size: 40px;
                        }
                        @include screen-1200 {
                            font-size: 30px;
                        }
                        @include desktop {
                            font-size: 30px;
                        }
                        @include tablet {
                            font-size: 30px;
                        }
                        @include all-phone {
                            font-size: 30px;
                        }
                    }
                }
                .right-side {
                    @include desktop {
                        margin-top: 30px;
                    }
                    @include tablet {
                        margin-top: 30px;
                    }
                    @include all-phone {
                        margin-top: 30px;
                    }
                    img {
                        width: 120px;
                        margin-right: 20px;
                    }
                }
            }

            .right-bottom {
                margin-top: 40px; 
                @include portrait-phone {
                    margin-top: 20px;
                }
                .single-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 90%;
                    margin-bottom: 30px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #eeedee;
                    h5 {
                        color: $part-2-color;
                        font-size: 24px;
                        font-weight: 400;
                        font-family: $colgate;
                        @include desktop {
                            font-size: 20px;
                        }
                        @include tablet {
                            font-size: 20px;
                        }
                        @include all-phone {
                            font-size: 20px;
                        }
                    }
                }
            }

            .bottom-text {
                color: $black-color-part-2;
                font-size: 22px;
                font-weight: 300;
                font-family: $colgate;
                position: absolute;
                bottom: 10px;
                right: 10px;
                text-align: right;
                @include desktop {
                    font-size: 14px;
                }
                @include tablet {
                    font-size: 14px;
                }
                @include all-phone {
                    font-size: 14px;
                }
                @include portrait-phone {
                    font-size: 12px;
                }
            }
        }
    }

    .content-title.content-title-2 {
        margin-top: 40px;
        h3 {
            font-size: 70px;
            font-weight: 700;
            background-image: url('../images/text-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @include tablet {
                font-size: 30px;
            }
            @include all-phone {
                font-size: 30px;
            }
            span {
                font-weight: 400;
            }
        }
    }

    .gallery-area {
        margin-top: 30px;
        position: relative;
        padding: 0 30px;
        @include tablet {
            padding: 0 100px;
        }
        .line-shape-1,
        .line-shape-2 {
            width: auto;
            position: absolute;
            top: 0;
            height: 95%;
            @include tablet {
                display: none;
            }
            @include all-phone {
                display: none;
            }
        }
        .line-shape-1 {
            left: 0;
        }
        .line-shape-2 {
            right: 0;
        }

        .single-image,
        .content-box-1,
        .content-box-2 {
            margin-bottom: 30px;
        }

        .single-image {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            border-radius: 20px;
            &.img-1 {
                height: 400px;
                background-image: url('../images/gallery-1.png');
                @include screen-1400 {
                    height: 280px;
                }
                @include screen-1200 {
                    height: 200px;
                }
                @include desktop {
                    height: 170px;
                }
                @include portrait-phone {
                    height: 250px;
                }
            }
            &.img-2 {
                height: 225px;
                background-image: url('../images/gallery-2.png');
                @include screen-1400 {
                    height: 190px;
                }
                @include screen-1200 {
                    height: 170px;
                }
                @include desktop {
                    height: 140px;
                }
                @include portrait-phone {
                    height: 100px;
                }
            }
            &.img-3 {
                height: 380px;
                background-image: url('../images/gallery-3.png');
                @include screen-1200 {
                    height: 260px;
                }
                @include desktop {
                    height: 260px;
                }
                @include tablet {
                    height: 180px;
                }
                @include all-phone {
                    height: 180px;
                }
                @include portrait-phone {
                    height: 120px;
                }
            }
        }

        .content-box-1 {
            background-color: #9571b2;
            border-radius: 20px;
            padding: 20px;
            p {
                color: $white-color;
                font-size: 25px;
                font-weight: 400;
                font-family: $colgate;
                @include screen-1200 {
                    font-size: 20px;
                }
                @include desktop {
                    font-size: 16px;
                }
                @include portrait-phone {
                    font-size: 20px;
                }
            }
        }
        .content-box-2 {
            background-color: #6b2f90;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            h4 {
                color: $white-color;
                font-size: 50px;
                font-weight: 400;
                font-family: $colgate;
                @include screen-1400 {
                    font-size: 42px;
                }
                @include screen-1200 {
                    font-size: 35px;
                }
                @include desktop {
                    font-size: 26px;
                }
                @include portrait-phone {
                    font-size: 30px;
                }
                span {
                    font-weight: 600;
                }
            }
        }
    }

    .colgate-area {
        background-image: url('../images/colgate-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        border: 2px solid $white-color;
        position: relative;
        z-index: 1;
        margin-top: 10px;
        padding: 100px;
        @include screen-1200 {
            padding: 100px 50px;
        }
        @include desktop {
            padding: 100px 50px;
        }
        @include tablet {
            padding: 50px;
        }
        @include all-phone {
            padding: 50px 20px;
        }
        .text-style {
            position: absolute;
            top: 0;
            left: 0;
            color: $white-color;
            font-size: 36px;
            font-weight: 700;
            font-family: $colgate;
            display: inline-block;
            padding: 5px 30px 5px 20px;
            border-radius: 20px 0 50px 0;
            background-image: linear-gradient(#bcbebc, #6c7873);
            z-index: -1;
            @include tablet {
                font-size: 24px;
            }
            @include all-phone {
                font-size: 20px;
            }
        }

        .title-top {
            text-align: center;
            h2 {
                color: $white-color;
                font-size: 70px;
                font-weight: 400;
                font-family: $colgate;
                margin-bottom: 20px;
                @include tablet {
                    font-size: 40px;
                }
                @include all-phone {
                    font-size: 30px;
                }
                &.uppercase {
                    text-transform: uppercase;
                    margin-top: 40px;
                    @include tablet {
                        margin-top: 20px;
                    }
                    @include all-phone {
                        margin-top: 20px;
                    }
                }
                span {
                    font-weight: 700;
                }
            }
        }

        .main-image {
            position: relative;
            top: -50px;
            width: 90%;
            margin: auto;
            @include screen-1400 {
                top: -30px;
            }
            @include screen-1200 {
                top: -30px;
            }
            @include desktop {
                top: -30px;
            }
            @include tablet {
                top: -10px;
            }
            @include all-phone {
                top: -10px;
            }
        }

        .teeth-items {
            position: relative;
            top: -50px;
            @include screen-1400 {
                top: -30px;
            }
            @include screen-1200 {
                top: -30px;
            }
            @include desktop {
                top: -30px;
            }
            @include tablet {
                top: -10px;
            }
            @include all-phone {
                top: -10px;
            }
            .single-item {
                text-align: center;
                margin-bottom: 30px;
                img {
                    width: 180px;
                    margin: auto;
                }
                p {
                    color: $white-color;
                    font-size: 25px;
                    font-weight: 400;
                    font-family: $colgate;
                    margin-top: 20px;
                    padding: 0 30px;
                    text-transform: uppercase;
                    @include screen-1400 {
                        font-size: 20px;
                    }
                    @include screen-1200 {
                        font-size: 20px;
                        padding: 0 15px;
                    }
                    @include desktop {
                        font-size: 18px;
                        padding: 0 15px;
                    }
                    @include tablet {
                        font-size: 20px;
                        padding: 0 20px;
                    }
                    @include all-phone {
                        font-size: 20px;
                        padding: 0 20px;
                    }
                }
            }
        }

        .bottom-text {
            color: $white-color;
            font-size: 22px;
            font-weight: 300;
            font-family: $colgate;
            position: absolute;
            bottom: 20px;
            right: 50px;
            @include tablet {
                font-size: 16px;
            }
            @include all-phone {
                font-size: 15px;
            }
        }
    }
} // part-2 end

.part-3 {
    background-color: $part-3-color;
    padding: 50px;
    @include tablet {
        padding: 50px 30px;
    }
    @include all-phone {
        padding: 40px 20px;
    }
    .logo-part {
        img {
            width: auto;
            margin: auto;
            @include tablet {
                width: 300px;
            }
            @include all-phone {
                width: 260px;
            }
        }
    }

    .content-title {
        margin: 40px 0;
        h3 {
            color: $white-color;
            font-size: 36px;
            font-weight: 600;
            font-family: $colgate;
            padding: 15px 30px;
            border: 2px solid $white-color;
            border-radius: 15px;
            text-align: center;
            @include tablet {
                font-size: 30px;
            }
            @include all-phone {
                font-size: 30px;
            }
        }
    }

    #lineChart {
        background-color: #a71c18;
        border-radius: 30px;
        margin-bottom: 30px;
    }
    #lineChart2 {
        background-color: #ed6a1d;
        border-radius: 30px;
        margin-bottom: 30px;
    }

    .italic-text {
        text-align: right;
        &.margin-right {
            margin-right: 40px;
            margin-top: 20px;
        }
        span {
            display: inline-block;
            padding: 20px 0;
            color: $white-color;
            font-size: 22px;
            font-weight: 300;
            font-family: $colgate;
            @include portrait-phone {
                font-size: 14px;
            }            
        }
    }

    .chart-box2 {
        border-radius: 20px;
        border: 2px solid $white-color;
        border-radius: 15px;
        width: 95%;
        margin: 30px auto 0;
        padding: 20px;
        .right-content {
            @include desktop {
                margin-top: 30px;
            }
            @include tablet {
                margin-top: 30px;
            }
            @include all-phone {
                margin-top: 30px;
            }
            h3 {
                color: $white-color;
                font-size: 25px;
                font-weight: 600;
                font-family: $colgate;
                span {
                    color: #ed6a1d;
                }
            }
            ul {
                li {
                    color: $white-color;
                    font-size: 20px;
                    font-weight: 400;
                    font-family: $colgate;
                    position: relative;
                    margin: 15px 0 15px 50px;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 10px;
                        left: -20px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $white-color;
                    }
                }
            }
        }
    }

    .chart-box3 {
        width: 95%;
        margin: 30px auto 0;
        .single-chart {
            position: relative;
            padding: 20px;
            border-radius: 10px;
            width: 90%;
            padding-left: 80px;
            @include screen-1200 {
                padding-left: 40px;
            }
            @include desktop {
                margin: 15px 0;
            }
            @include tablet {
                margin: 15px 0;
            }
            @include all-phone {
                margin: 15px 0;
            }
            @include portrait-phone {
                padding-left: 40px;
            }
            &.chart-1 {
                background-color: #1ab5be;
                img {
                    width: 100px;
                    @include screen-1200 {
                        width: 60px;
                    }
                    @include portrait-phone {
                        width: 60px;
                    }
                }
            }
            &.chart-2 {
                background-color: #86ccd3;
                img {
                    width: 70px;
                    @include screen-1200 {
                        width: 30px;
                        left: -10px;
                    }
                    @include portrait-phone {
                        width: 30px;
                        left: -10px;
                    }
                }
            }
            &.chart-3 {
                background-color: #afdff9;
                img {
                    width: 100px;
                    @include screen-1200 {
                        width: 60px;
                    }
                    @include portrait-phone {
                        width: 60px;
                    }
                }
            }

            img {
                position: absolute;
                bottom: 50px;
                left: -30px;
            }
        }
    }

    .chart-box4 {
        padding: 20px 80px;
        background-color: #2071b7;
        border-radius: 20px;
        @include tablet {
            padding: 20px 40px;
        }
        @include all-phone {
            padding: 20px;
        }

        h2 {
            color: $white-color;
            font-size: 50px;
            font-weight: 600;
            font-family: $colgate;
            span {
                color: #ed6a1d;
            }
            @include screen-1400 {
                font-size: 40px;
            }
            @include screen-1200 {
                font-size: 30px;
            }
            @include desktop {
                font-size: 30px;
            }
            @include tablet {
                font-size: 30px;
            }
            @include all-phone {
                font-size: 30px;
            }
        }

        #multipleChart {
            @include desktop {
                margin-top: 30px;
            }
            @include tablet {
                margin-top: 30px;
            }
            @include all-phone {
                margin-top: 30px;
            }
        }
    }
} // part-3 end

.part-4 {
    background-color: $part-4-color;
    padding: 50px;
    border-top: 10px solid $border-color-part-4;
    @include tablet {
        padding: 50px 30px;
    }
    @include all-phone {
        padding: 40px 20px;
    }
    .logo-part {
        margin-bottom: 30px;
        img {
            width: auto;
            margin: auto;
            @include tablet {
                width: 300px;
            }
            @include all-phone {
                width: 260px;
            }
        }
    }

    .content-title {
        margin: 40px 0;
        &.more-padding h3 {
            padding: 15px 200px;
            @include screen-1400 {
                padding: 15px 100px;
            }
            @include screen-1200 {
                padding: 15px 80px;
            }
            @include desktop {
                padding: 15px 50px;
            }
            @include tablet {
                padding: 15px 30px;
            }
            @include all-phone {
                padding: 15px 30px;
            }
        }
        h3 {
            color: $white-color;
            font-size: 32px;
            font-weight: 600;
            font-family: $proxima;
            padding: 15px 30px;
            border: 2px solid $border-color-part-4;
            border-radius: 15px;
            text-align: center;
            @include tablet {
                font-size: 25px;
            }
            @include all-phone {
                font-size: 25px;
            }
        }
    }

    .chart-box5 {
        .content-title h3 {
            height: 150px;
            display: flex;
            align-items: center;
        }

        .left-side {
            #barChart4 {
                background-color: $white-color;
                border-radius: 15px;
                margin: 30px 0;
            }            
        }
        .right-side {
            #barChart5 {
                background-color: #e2f1e4;
                border-radius: 15px;
                margin: 30px 0;
            }
        }
    }

    .italic-text {
        text-align: right;
        span {
            display: inline-block;
            padding: 20px 0;
            color: $white-color;
            font-size: 22px;
            font-weight: 300;
            font-family: $proxima;
            @include portrait-phone {
                font-size: 14px;
            }            
        }
    }

    .gallery-title {
        text-align: center; 
        h2 {
            color: $white-color;
            font-size: 60px;
            font-weight: 600;
            font-family: $proxima;
            span {
                color: $border-color-part-4;
            }
            @include tablet {
                font-size: 30px;
            }
            @include all-phone {
                font-size: 30px;
            }
        }
    }

    .gallery-area {
        .single-gallery {
            position: relative;
            padding: 15px 0;
            margin-bottom: 30px;
            &.style-2 {
                display: flex;
                align-items: center;
                padding: 0;
                .image-part {
                    width: 70%
                }
                .text-part {
                    width: 30%;
                    margin-top: 0;
                }

                &::before {
                    top: 5%;
                    left: -3%;
                    width: 106%;
                    height: 90%;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 3%;
                width: 94%;
                height: 100%;
                border: 1px solid $border-color-part-4;
            }
            .text-part {
                margin-top: 10px;
                text-align: center;
                h3 {
                    color: $white-color;
                    font-size: 30px;
                    font-weight: 600;
                    font-family: $proxima;
                    span {
                        display: block;
                        font-weight: 400;
                    }

                    @include tablet {
                        font-size: 24px;
                    }
                    @include all-phone {
                        font-size: 24px;
                    }                    
                }
            }
        }
    }
    

} // part-4 end

