// theme font
$theme-font: 'Poppins', sans-serif;
$avenir: 'Avenir Next LT Pro';
$colgate: 'colgate_ready';

// theme color
$part-1-color: #253c7e;
$part-2-color: #e31f26;
$white-color: #ffffff;
$black-color: #000000;
$black-color-part-2: #44484c;

// google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// transition
$transition: all .3s ease-in;