// theme font
$theme-font: 'Poppins', sans-serif;

// theme color
$part-1-color: #253c7e;
$part-2-color: #e31f26;
$part-3-color: #273476;
$part-4-color: #006648;
$white-color: #ffffff;
$black-color: #000000;
$pink-color: #ef4f86;
$brown-color: #cb9b31;
$black-color-part-2: #44484c;
$border-color-part-4: #a9c23e;

// google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// transition
$transition: all .3s ease-in;